html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* General List Style */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 48px;
}

/* General Anchor Style */
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* Items that use display: flex; */
ul,
.header-head,
.header-links,
.header-main,
.customer-feedback-background,
.customer-feedback {
  display: flex;
}

/* Items that use justify-content: space-between; */
.header-links ul,
.header-head {
  justify-content: space-between;
}

/* Items that use justify-content: center; */
.header-main,
.cards-body ul {
  justify-content: center;
}

/* Items that use same padding measurements */
.header-main,
.personnel-cards {
  padding: 16px 100px 150px 100px;
}

/* Header Elements styles */
.header {
  background-color: #1f2937;
}

.header-head {
  padding: 16px 100px;
}

.header-main {
  gap: 136px;
}

.header-logo img {
  width: 70px;
}

.header-links {
  align-items: center;
}

.header-description-head {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 8px;
}

.header-description-body {
  color: #f9faf8;
  font-size: 24px;
  margin-bottom: 16px;
}

.left-header-main button {
  background-color: #3882f6;
  border: 0;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 5px;
}

.left-header-main button a {
  color: #f9faf8;
}

.right-header-main img {
  width: 550px;
}

/* Cards Elements Styles */
.cards-title {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.personnel-image img {
  width: 200px;
  height: 200px;
  border: 5px #3882f6 solid;
  border-radius: 10px;
}

.personnel-role {
  text-align: center;
  font-size: 18px;
  color: gray;
}

/* Quote Elements Styles */
.customer-feedback-background {
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 150px 100px;
}

.customer-feedback {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  gap: 16px;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  justify-content: center;
  align-items: center;
}

.quoter {
  align-self: flex-end;
  font-size: 20px;
  font-weight: bolder;
  color: #1f2937;
}
